{% extends 'tienda/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'tienda/js/carrito.js' %}"></script>
{% endblock%}

{% block css %}
    <link rel="stylesheet" href="{% static 'tienda/css/carrito.css' %}">
    <style>
        body {
          background-image: url("{% static 'tienda/img/fondocarrito.jpg' %}"); /* Cambia 'ruta/a/tu/imagen/fondo.jpg' por la ruta de tu imagen */
          background-size: cover; /* Para asegurar que la imagen de fondo cubra todo el cuerpo */
          background-position: center; /* Para centrar la imagen de fondo */
        }
      </style>
{% endblock %}
{% block contenido %}
<div class="carrito" id="carrito">
    <h2>Carrito de Compra</h2>
    <ul id="lista-carrito"></ul>
    <p class="total">Total: $<span id="total-carrito">0</span></p>
    <button id="btn-comprar" class="btn btn-primary">Realizar Compra</button>
</div>


{% endblock %}