{% extends 'tienda/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'tienda/css/edtilo.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    body {
        background-image: url({% static 'tienda/img/fondo2.jpg' %});
        background-size: cover;
        background-position: center;
    }

    .producto {
        width: 250px; /* Ancho fijo para mantener cuadradas las casillas */
        margin: 20px;
        padding: 15px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    .producto img {
        width: 200px; /* Tamaño fijo para las imágenes */
        height: 200px; /* Tamaño fijo para las imágenes */
        object-fit: cover; /* Ajuste para cubrir completamente el espacio */
        border-radius: 5px; /* Borde redondeado para las imágenes */
        margin-bottom: 10px;
    }

    .producto h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .producto p {
        font-size: 0.9rem;
        color: #666;
    }

    .producto button {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <!-- Primer conjunto de productos -->
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/Antonio-Aguilar-Voces-de-America-15-Exitos-Vol.-2-2000-Ed.-MEX - 600x597.jpeg' %}" alt="CD Ejemplo 1">
                <h2>Antonio Aguilar – Voces De América 15 Éxitos Vol. 2 [2000] Ed. MEX</h2>
                <p>Artista: Nombre del Artista 1</p>
                <p>Precio: $7.500</p>
                <button onclick="agregarAlCarrito('CD Antonio Aguilar', 7500)">Agregar al carrito</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/50rancheras.jpg' %}" alt="CD Ejemplo 2">
                <h2>50 Rancheras variadas</h2>
                <p>Artista: Varios artistas</p>
                <p>Precio: $7.000</p>
                <button onclick="agregarAlCarrito('CD 50 rancheras', 7000)">Agregar al carrito</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/X_100rancheras7412.jpg' %}" alt="CD Ejemplo 1">
                <h2>100 Rancheras</h2>
                <p>Artista: Varios artistas</p>
                <p>Precio: $15.000</p>
                <button onclick="agregarAlCarrito('CD 100 rancheras', 15000)">Agregar al carrito</button>
            </div>
        </div>

        <!-- Segundo conjunto de productos -->
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/nochede.jpg' %}" alt="CD Ejemplo 1">
                <h2>Noche de Brujas</h2>
                <p>Artista: Noche de Brujas</p>
                <p>Precio: $15.000</p>
                <button onclick="agregarAlCarrito('CD Noche de Brujas', 15000)">Agregar al carrito</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/kendrick.jpg' %}" alt="CD Kendrick Lamar - m.A.A.d city">
                <h2>Kendrick Lamar - m.A.A.d city</h2>
                <p>Artista: Kendrick Lamar</p>
                <p>Precio: $15.000</p>
                <button onclick="agregarAlCarrito('CD Kendrick Lamar - m.A.A.d city', 15000)">Agregar al carrito</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="producto">
                <img src="{% static 'tienda/img/The_Eminem_Show.jpg' %}" alt="CD Eminem - The Eminem Show">
                <h2>Eminem - The Eminem Show</h2>
                <p>Artista: Eminem</p>
                <p>Precio: $15.000</p>
                <button onclick="agregarAlCarrito('CD Eminem - The Eminem Show', 15000)">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
