{% extends 'tienda/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'tienda/css/edtilo.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .card-body form * {
        color: black !important;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-auto">
    <div class="row justify-content-center">
        <div class="col-md-20">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Iniciar Sesión
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
